<div class="d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
  <h1 class="cover-heading">Chi2019</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vero dolorem
    quisquam voluptatem officia sunt maiores nihil dolores ullam sapiente
    consequatur, harum ratione consectetur ducimus cumque repudiandae numquam
    eum. Rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
    soluta dicta velit voluptatum ex tenetur quisquam voluptatibus, inventore,
    explicabo repellat beatae, quod vero delectus porro iure nobis cumque vel
    dolores.
  </p>
  <p class="lead">
    <a href="/FrontEnd/schedule" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</div>
