<div class="container">
<form>
  <fieldset>
    <legend>User Login</legend>
    <div class="form-row">
      <div class="col-md mt-1">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          name="userEmail"
          id="email"
          placeholder="Enter email"
          data-ng-model="user.email"
          required
        />
      </div>
      <div class="col-md mt-1">
        <label for="password">Password:</label>
        <input
          type="password"
          class="form-control"
          name="userPassword"
          id="password"
          placeholder="Enter password"
          data-ng-model="user.password"
          required
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-4 btn-block" data-ng-click="loginUser()">
      Login
    </button>
  </fieldset>
</form>
</div>
