<search></search>
  <ul dir-paginate="presentation in presentations | itemsPerPage: 5" pagination-id="pres">
    <li>Title: {{presentation.title}}</li>
    <li>Chair: {{presentation.chair}}</li>
    <li>URL: {{presentation.doiURL}}</li>
    <li>Abstract: {{presentation.abstract}}</li>
    <li>Authors: {{presentation.author}}</li>
    <li>Author Affiliation: {{presentation.affiliation}}</li>
  </ul>
  <div class="container-fluid d-flex justify-content-center">
    <dir-pagination-controls pagination-id="pres" on-page-change="resetPos()"></dir-pagination-controls>
  </div>