<div class="container-fluid">
  <search></search>
  <ul
    class="list-group mb-5"
    dir-paginate="presentation in presentations | itemsPerPage: 5"
    pagination-id="pres"
  >
    <li class="list-group-item">Title: {{presentation.title}}</li>
    <li class="list-group-item">Chair: {{presentation.chair}}</li>
    <li class="list-group-item">URL: {{presentation.doiURL}}</li>
    <li class="list-group-item">Abstract: {{presentation.abstract}}</li>
    <li class="list-group-item">Authors: {{presentation.author}}</li>
    <li class="list-group-item">
      Author Affiliation: {{presentation.affiliation}}
    </li>
  </ul>
</div>
<div class="container-fluid d-flex justify-content-center">
  <dir-pagination-controls
    pagination-id="pres"
    on-page-change="resetPos()"
  ></dir-pagination-controls>
</div>
