<div class="container-fluid">
<div class="row">
  <div class="col-sm-3 col-12 py-2 d-flex align-items-center justify-content-center" id="left">
    <h1 data-ng-hide="editorVisible">{{schedule[0].day}}</h1>
      <edit data-ng-show="editorVisible" id="editor"></edit>
  </div>
  <div class="col-sm-9 col-12 offset-0 offset-sm-3 py-2">
    <div class="card" dir-paginate="sessionInfo in schedule | itemsPerPage: 10">
      <div class="card-body text-center" id="container">
        <h4 class="card-title">
          {{sessionInfo.title}}
        </h4>
        <h5 class="card-text">
          {{sessionInfo.time}}
        </h5>
        <div>
          <p class="card-text">
            Room: {{sessionInfo.room}}
          </p>
        </div>
        <div>
          <p class="card-text">
            Session Type: {{sessionInfo.description}}
          </p>
        </div>
        <div>
          <p class="card-text">
            Chair: {{sessionInfo.chair}}
          </p>
        </div>
        <div>
          <a
            class="card-link"
            data-ng-href="/FrontEnd/presentation/{{sessionInfo.id}}"
            >More Information</a
          >
        </div>
        <div>
          <button
            class="card-link btn btn-primary"
            data-ng-show="adminLogin"
            data-ng-click="editor(sessionInfo)"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid d-flex justify-content-center">
      <dir-pagination-controls
        on-page-change="resetPos()"
      ></dir-pagination-controls>
    </div>
  </div>
</div>

