<div class="container-fluid">
<div id="breifSchedule">
  <div
    class="card mb-2"
    data-ng-repeat="(sessionDay, sessionDetails) in schedule | groupBy: 'day'"
  >
    <div
      class="card-body text-center"
      data-ng-click="showTimeDetails = ! showTimeDetails"
    >
      <h4 class="card-title">
        {{sessionDay}}
      </h4>
      <div

        data-ng-repeat="sessionTime in sessionDetails | unique: 'time' | orderBy: 'time'"
      >
        <a
          class="card-link scheduleTime"
          data-ng-show="showTimeDetails"
          data-ng-href="/FrontEnd/schedule/{{sessionTime.id}}"
        >
          {{sessionTime.time}}
        </a>
      </div>
    </div>
  </div>
</div>
</div>
