<div class="card" data-ng-repeat="sessionInfo in schedule">
  <div class="card-body text-center">
    <h4 class="card-title">
      {{sessionInfo.title}}
    </h4>
    <h5 class="card-text">
      {{sessionInfo.time}}
    </h5>
    <div>
      <p class="card-text">
        Room: {{sessionInfo.room}}
      </p>
    </div>
    <div>
      <p class="card-text">
        Session Type: {{sessionInfo.description}}
      </p>
    </div>
    <div>
      <p class="card-text">
        Chair: {{sessionInfo.chair}}
      </p>
    </div>
    <div>
      <a class="card-link" data-ng-href="./#!/presentation/{{sessionInfo.id}}">More Information</a>
    </div>
  </div>
</div>
