<div class="container-fluid">
    <div class="row text-center p-4">
    <div class="col-sm">
      <h5>Schedule</h5>
      <ul class="list-group">
        <li class="list-group-item bg-dark border-0">
          <a class="text-white nav-link" href="/FrontEnd/schedule">View All</a>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <h5>Presentations</h5>
      <ul class="list-group">
        <li class="list-group-item bg-dark border-0">
          <a class="text-white nav-link" href="/FrontEnd/presentation/">View All</a>
        </li>
        <li class="list-group-item bg-dark border-0">
          <a class="text-white nav-link" href="/FrontEnd/presentation/search/">Search</a>
        </li>
      </ul>
      
    </div>
    <div class="col-sm">
      <h5>Other</h5>
      <ul class="list-group">
        <li class="list-group-item bg-dark border-0">
          <a class="text-white nav-link" href="/FrontEnd/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</div>