<form class="form-inline d-flex justify-content-center mt-2 mb-2">
  <div class="input-group mb-2">
    <input
      class="form-control mb-2"
      type="search"
      placeholder="Search"
      data-ng-model="search"
    />
    <select
      class="form-control mb-2 custom-select"
      name="filterType"
      id="searchFilterType"
      data-ng-model="dropDownSearchFilter.option"
      data-ng-options="x for x in dropDownSearchFilter.options"
      data-ng-show="searchType"
      data-ng-cloak
    >
    </select>
  </div>
    <div class="input-group-append mb-2">
      <a
        role="button"
        class="btn btn-primary mb-2 mr-2"
        data-ng-href="/FrontEnd/presentation/search/{{search}}"
        data-ng-hide="searchType"
        >Go</a
      >
      <a
        role="button"
        class="btn btn-primary mb-2 mr-2"
        data-ng-href="/FrontEnd/presentation/search/{{search}}/category/{{dropDownSearchFilter.option}}"
        data-ng-hide="!searchType"
        data-ng-cloak
        >Go</a
      >
      <div class="mt-2 mr-sm-2 custom-control custom-switch">
        <input
          type="checkbox"
          class="mb-2 mr-sm-2 custom-control-input"
          id="switch1"
          data-ng-model="searchType"
          data-ng-true-value="true"
          data-ng-false-value="false"
        />
        <label class="mb-2 mr-sm-2 custom-control-label" for="switch1"
          >Advanced search</label
        >
      </div>
    </div>
</form>
