<div class="d-flex w-100 mh-100 p-3 mx-auto flex-column text-center">
  <h1 class="cover-heading">Chi2019</h1>
  <p class="lead">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit provident,
    aspernatur a, quibusdam quisquam consequatur ut minus iste explicabo
    corrupti recusandae! Rerum fugit ipsam magni quos cum voluptates similique
    quod? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste
    debitis, minima iusto neque commodi sapiente esse ratione quidem eius
    officia, quis nulla aliquam eum eos aut quasi quod laboriosam odio!
    This is not a website that attempts to be an official website.
  </p>
  <p class="lead">
    <a href="/FrontEnd/schedule" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</div>
